<form class="hidden new_comment_form-q" action='/questions/<%= question.id %>/comments' id="comment_form" method="post">
  <textarea class="form-control" name="comment_text" placeholder="Enter a comment here"></textarea><br>
  <input class="submit-comment btn btn-default" type="submit" value="Submit Comment">
</form>
