<form  class="hidden new_comment_form" action='/answers/<%= answer.id %>/comments/new' id="comment_form" method="post">
  <textarea class="form-control" name="comment_text" placeholder="Enter a comment here"></textarea><br>
  <input class="btn btn-default" type="submit" value="Submit Comment">
</form>
