  <% if logged_in? %>
    <% if logged_in_user.id == @question.user_id %>
    <form action="/questions/<%= @question.id %>/edit">
      <input class="btn btn-default" type="submit" value="Edit question">
    </form><br>
    <% end %>
  <% end %>
