<div class="container">
<%= erb :'questions/_errors', layout: false, locals: {errors: @errors} %>

<form action="/questions/<%= @question.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <br>

  <label for="title">Title</label><br><br>
  <input type="text" name="question[title]" value="<%= @question.title %>"><br><br>

  <label for="content">Content</label><br><br>
  <textarea name="question[content]"><%= @question.content %></textarea><br><br>

  <input type="submit" value="Update Question" class="button">

</form>
</div>
