<div class="container">
<% if @errors %>
  <% @errors.each do |error| %>
    <p> <%= error %> </p>
  <% end %>
<% end  %>

<form>
  <input action="/questions/:id" method="post"><br><br>
  <input type="hidden" name="_method" value="put"

  <label for="title">Title</label><br><br>
  <input type="text" name="question[title]"><br><br>

  <label for="content">Content</label><br><br>
  <textarea name="question[content]"></textarea><br><br>

  <input type="submit" value="Update Question" class="button">

</form>
</div>
