<div class="container">
<br><br>

<%= erb :'questions/_errors', layout: false, locals: {errors: @errors} %>

<h1 style="text-align: center"> Create New Question </h1>

<form action="/questions" method="post"><br><br>

  <label for="title">Title</label><br>
  <input type="text" name="question[title]" placeholder="Title"><br><br>

  <label for="content">Question</label><br>
  <textarea name="question[content]" placeholder="Question"></textarea><br><br>

  <input type="submit" value="Add Question" class="button">

</form>

</div>
