<p> <%= acomment.text %> </p>
  <% if logged_in? %>
    <form class="upvotes" action='/answers/<%= answer.id %>/vote' method='post'>
      <input class="btn btn-default" type="submit" value="ðŸ‘">
      <span class="upvotes"><%= answer.votes.count %></span><br><br>
    </form>
  <% end %>
