/** {
  border-style: dotted;
  border-color: green;
}*/

.container {
  width: 800px;
  border: 2px dotted black;
}

textarea {
  width: 500px;
  height:100px;
}

.button {
  background-color: black;
  color: white;
}


img {
  width: 500px;
  height: 500px;

}


.jones-a-tron {
  font-family: 'Bungee Shade';
  font-size: 5em;
  padding: 1px;
}

.jonsey {
  border-radius: 10%;
  margin: auto;
}

#Header {
  text-align: center;
  font-family: 'Expletus Sans', cursive;
}

/*.hidden {
  display: none;
}
*/
