<div class="container">

  <%= erb :'questions/_errors', layout: false, locals: {errors: @errors} %>

  <h1>Sign In</h1>
  <form action="/login" method="post">
    <p>Email:</p>
    <input id="login-email" name="email" type="email" placeholder="you@example.com">
    <p>Password:</p>
    <input id="login-password" name="password" type="password" placeholder="password">
    <input class="submit_button" type="submit" value="Login">
  </form>
</div>
