
<div class="container">

  <h1>Register for Info-Flow!</h1>

  <%= erb :'questions/_errors', layout: false, locals: {errors: @errors} %>

  <form action="/users" method="post">
    <p>Username:</p>
    <input id="register-username" name="username" type="text" placeholder="username">
    <p>Email:</p>
    <input id="register-email" name="email" type="email" placeholder="you@example.com">
    <p>Password:</p>
    <input id="register-password" name="password" type="password" placeholder="password">
    <input class="submit_button" type="submit" value="Login">
  </form>
</div>
